<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<dict>
		<key>AllPlayersData</key>
		<array>
			<dict>
				<key>PakistanPlayersData</key>
				<dict>
					<key>Player15</key>
					<dict>
						<key>PlayerID15</key>
						<string>15</string>
						<key>PlayerName15</key>
						<string>Akhtar</string>
					</dict>
					<key>Player14</key>
					<dict>
						<key>PlayerID14</key>
						<string>14</string>
						<key>PlayerName14</key>
						<string>Sami</string>
					</dict>
					<key>Player13</key>
					<dict>
						<key>PlayerID13</key>
						<string>13</string>
						<key>PlayerName13</key>
						<string>Younis</string>
					</dict>
					<key>Player12</key>
					<dict>
						<key>PlayerID12</key>
						<string>12</string>
						<key>PlayerName12</key>
						<string>Malik</string>
					</dict>
					<key>Player11</key>
					<dict>
						<key>PlayerID11</key>
						<string>11</string>
						<key>PlayerName11</key>
						<string>Azam</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>AustraliaPlayersData</key>
				<dict>
					<key>Player6</key>
					<dict>
						<key>PlayerID6</key>
						<string>6</string>
						<key>PlayerName6</key>
						<string>Gilchrist</string>
					</dict>
					<key>PlayerID7</key>
					<dict>
						<key>PlayerID7</key>
						<string>7</string>
						<key>PlayerName7</key>
						<string>Hayden</string>
					</dict>
					<key>Player8</key>
					<dict>
						<key>PlayerID</key>
						<string>8</string>
						<key>PlayerName8</key>
						<string>Ponting</string>
					</dict>
					<key>Player9</key>
					<dict>
						<key>PlayerID9</key>
						<string>9</string>
						<key>PlayerName9</key>
						<string>Lee</string>
					</dict>
					<key>Player10</key>
					<dict>
						<key>PlayerID10</key>
						<string>10</string>
						<key>PlayerName10</key>
						<string>Mcgrath</string>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>IndiaPlayersData</key>
				<dict>
					<key>Player2</key>
					<dict>
						<key>PlayerID2</key>
						<string>2</string>
						<key>PlayerName2</key>
						<string>Sachin</string>
					</dict>
					<key>Player5</key>
					<dict>
						<key>PlayerId5</key>
						<string>5</string>
						<key>PlayerName5</key>
						<string>Shami</string>
					</dict>
					<key>Player4</key>
					<dict>
						<key>PlayerID4</key>
						<string>4</string>
						<key>PlayerName4</key>
						<string>Bumrah</string>
					</dict>
					<key>Player3</key>
					<dict>
						<key>PlayerID3</key>
						<string>3</string>
						<key>PlayerName3</key>
						<string>Yuvraj</string>
					</dict>
					<key>Player1</key>
					<dict>
						<key>PlayerID1</key>
						<string>1</string>
						<key>PlayerName1</key>
						<string>Sehwag</string>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
