<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<dict>
		<key>AllPlayersData</key>
		<array>
			<dict>
				<key>SouthAfricaPlayers</key>
				<array>
					<dict>
						<key>PlayerID</key>
						<string>21</string>
						<key>PlayerName</key>
						<string>Smith</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>22</string>
						<key>PlayerName</key>
						<string>Kallis</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>23</string>
						<key>PlayerName</key>
						<string>Amla</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>24</string>
						<key>PlayerName</key>
						<string>Rabada</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>25</string>
						<key>PlayerName</key>
						<string>Nell</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>EnglandPlayers</key>
				<array>
					<dict>
						<key>PlayerID</key>
						<string>16</string>
						<key>PlayerName</key>
						<string>Cook</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>17</string>
						<key>PlayerName</key>
						<string>Strauss</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>18</string>
						<key>PlayerName</key>
						<string>Trescothik</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>19</string>
						<key>PlayerName</key>
						<string>Anderson</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>20</string>
						<key>PlayerName</key>
						<string>Collingwood</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PakistanPlayers</key>
				<array>
					<dict>
						<key>PlayerID</key>
						<string>15</string>
						<key>PlayerName</key>
						<string>Akhtar</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>14</string>
						<key>PlayerName</key>
						<string>Sami</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>13</string>
						<key>PlayerName</key>
						<string>Younis</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>12</string>
						<key>PlayerName</key>
						<string>Malik</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>11</string>
						<key>PlayerName</key>
						<string>Azam</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>AustraliaPlayers</key>
				<array>
					<dict>
						<key>PlayerID</key>
						<string>6</string>
						<key>PlayerName</key>
						<string>Gilchrist</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>7</string>
						<key>PlayerName</key>
						<string>Hayden</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>8</string>
						<key>PlayerName</key>
						<string>Ponting</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>9</string>
						<key>PlayerName</key>
						<string>Lee</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>10</string>
						<key>PlayerName</key>
						<string>Mcgrath</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>IndiaPlayers</key>
				<array>
					<dict>
						<key>PlayerID</key>
						<string>1</string>
						<key>PlayerName</key>
						<string>Sehwag</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>2</string>
						<key>PlayerName</key>
						<string>Sachin</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>3</string>
						<key>PlayerName</key>
						<string>Yuvraj</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>4</string>
						<key>PlayerName</key>
						<string>Pathan</string>
					</dict>
					<dict>
						<key>PlayerID</key>
						<string>5</string>
						<key>PlayerName</key>
						<string>Balaji</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
